body {
  font-family: "segoe ui";
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container {
  border: 2px solid black;
  border-radius: 3px;
  min-width: 200px;
  max-width: 400px;
  width: 80%;
  min-height: 300px;
  padding: 20px;
}
.btn {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 30px;
  min-width: 50px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
